//PEN HEADER
header.header
  h1.header__title Custom Cursor Inspiration
  .header__btns.btns
    a.header__btn.btn(
      href="https://github.com/nat-davydova/custom-cursor",
      title="Check on Github",
      target="_blank"
    ) Check on Github

//PEN CONTENT     
.content
  //content inner
  .content__inner
